@model Soccer.Web.Models.PlayerViewModel

@{
    ViewBag.Title = "Insert player";
}

<h2>Add new player</h2>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Player</legend>

        <p>
            Name <br />
            @Html.EditorFor(model => model.Name)
        </p>

        <p>
            Position  <br />
            @Html.EditorFor(model => model.Position)
        </p>
        <p>
                Team <br />
                @Html.DropDownListFor(model => model.TeamName, ViewBag.Teams as SelectList)
        </p>

        <p>
            <input type="submit" value="Add new player" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back", "IndexPlayers")
</div>